html {
  -webkit-text-size-adjust: none;
  font-size: 14pt;
}
body {
  display: flex;
  max-width: 640pt;
  margin: auto;
  padding: 4pt;
}
#toggles {
  max-width: 14em;
  margin: 12pt;
  padding: 6pt;
  font-size: 10pt;
}
#script-toggles-head {
  font-weight: bold;
}
.toggle, #credits {
  margin: 8pt;
}
.togglebox {
  transform: scale(150%);
}
label {
  white-space: nowrap;
}
h1, #toggles, .desc, .scr {
  font-family: system-ui, "Open Sans", Roboto, "Fira Sans", Ubuntu, "Helvetica Neue", Cantarell, "Segoe UI", sans-serif;
}
#facade {
  flex-grow: 1;
}
.seg {
  margin-bottom: 16pt;
}
#full > .seg {
  display: none;
}
.heading {
  display: flex;
  align-items: center;
  padding: 0 9pt 0 3pt;
}
h1 {
  font-size: 16pt;
  flex-grow: 1;
  margin: 8pt;
}
.scr {
  font-size: 8pt;
}
table {
  border-spacing: 3pt;
  width: 100%;
}
tr {
  height: 32pt;
}
td {
  padding: 0 6pt;
}
.chr {
  font-size: 24pt;
  text-align: center;
  min-width: 24pt;
  overflow: hidden;
}
.chr.Mn, .chr.Mc {
  max-width: 24pt;
}
.lit {
  font-family: "Operator Mono", Inconsolata, "Fira Mono", Menlo, "Source Code Pro", Consolas, "Lucida Console", Monaco, monospace;
}
.esc {
  font-size: 12pt;
}
.cp {
  max-width: 86pt;
  text-align: center;
}
.desc {
  width: 80%;
}
.txt {
  float: left;
}
.sc {
  float: right;
  font-size: 10pt;
}
.c1 { font-size: 75%; }
.c2 { font-size: 60%; }
.c3 { font-size: 48%; }
.c4 { font-size: 44%; }
.n1 { font-size: 93%; }
.n2 { font-size: 86%; }
.n3 { font-size: 79%; }
.n4 { font-size: 72%; }
.n5 { font-size: 65%; }
.n6 { font-size: 57%; }
.n7 { font-size: 50%; }
.n8 { font-size: 43%; }

@media screen and (max-width: 640px) {
  body {
    max-width: 100%;
    display: block;
  }
  #toggles {
    max-width: inherit;
  }
  td {
    padding: 0 3pt;
  }
  h1 {
    font-size: 12pt;
  }
  .sc {
    font-size: 8pt;
  }
  .c0 { font-size: 56%; }
  .c1 { font-size: 40%; }
  .c2 { font-size: 32%; }
  .c3 { font-size: 25%; }
  .c4 { font-size: 22%; }
  .desc {
    max-width: 144pt;
  }
}

@media screen {
  body {
    color: #131313;
    background: #fafafa;
  }
  a:link {
    color: #2b2b8a;
  }
  a:visited {
    color: #6e236e;
  }
  #toggles {
    background: #dadaff;
  }
  .lit {
    color: #565656;
    background: #e8e8e8;
  }
  .scr {
    color: #838383;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #c9c9c9;
    background: #252525;
  }
  a:link {
    color: #7777ff;
  }
  a:visited {
    color: #f78ef7;
  }
  #toggles {
    background: #31314f;
  }
  .lit {
    color: #8a8a8a;
    background: #383838;
  }
}
