html {
  font: 12pt system-ui, "Open Sans", Roboto, "Fira Sans", Ubuntu, "Helvetica Neue", Cantarell, "Segoe UI", sans-serif;
  -webkit-text-size-adjust: none;
}
@media screen and (max-width: 840px) {
  main {
    font-size: 80%;
  }
}

@media screen and (min-width: 641px) {
  body {
    max-width: 56em;
    margin: auto;
    padding: 0 10pt;
    display: flex;
  }
  nav {
    width: 14rem;
    height: 100vh;
    flex-shrink: 0;
  }
  /* nav container */
  #nc {
    padding-bottom: 1rem;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  /* script toggles */
  #st {
    margin-top: 10pt;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  main {
    flex-grow: 1;
    padding: 5pt;
  }
}

@media screen and (max-width: 640px) {
  body {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
  nav, #nc {
    width: 100%;
    height: auto;
    position: static;
  }
  #nc {
    padding-bottom: 0;
  }
  #st {
    margin: 0;
    padding: 5pt;
  }
  /* script toggle content */
  #stc {
    columns: 3;
  }
  #info {
    display: none;
  }
  main {
    margin-left: initial;
    padding: 2.5pt;
  }
}

nav {
  font-size: 75%;
}
/* script toggle header */
#sth {
  padding: 3pt;
  margin: 2.5pt;
  font-weight: bold;
}
#stc {
  padding: 0 5pt 5pt 5pt;
}
/* initially hidden in favor of #facade */
#full {
  display: none;
}
/* togglebox container */
.tog {
  margin: 0;
  padding: 2.5pt 0;
}
#info {
  font-size: 75%;
  margin-bottom: calc(10pt - 0.5625rem);
}
/* segment container */
.seg {
  margin-bottom: 1em;
  display: none;
}
/* segment name heading */
.snh {
  display: flex;
  align-items: center;
  padding: 0 1em 0 0.25em;
}
h1 {
  font-size: 125%;
  flex-grow: 1;
  margin: 0.75em;
}
/* segment scripts */
.scr {
  font-size: 75%;
}
table {
  border-spacing: 2.5pt;
  width: 100%;
}
tr {
  height: 2.83em;
}
td {
  padding: 0 5pt;
}
/* grapheme */
.chr {
  font-family: initial;
  font-size: 200%;
  text-align: center;
  min-width: 2em;
  overflow: hidden;
}
.esc {
  font-size: 1rem;
}
/* nonspacing marks and combining spacing marks can be heckin wide */
.chr.Mn, .chr.Mc {
  max-width: 2rem;
}
/* literal (codepoint, escape, shortcode, etc) */
.lit {
  font-family: "Operator Mono", Inconsolata, "Fira Mono", Menlo, "Source Code Pro", Consolas, "Lucida Console", Monaco, monospace;
}
/* codepoints */
.cp {
  max-width: 7.5em;
  text-align: center;
}
/* grapheme name */
.nm {
  width: 80%; /* just try to request a lot */
}
/* shortcodes */
.sc {
  float: right;
  font-size: 75%;
}
/* codepoint sizes (the number of rows we expect the codepoints to take
 * up, given that we want to fit two on a line) */
.c1 { font-size: 75%; }
.c2 { font-size: 60%; }
.c3 { font-size: 48%; }
.c4 { font-size: 44%; }
/* name sizes (handwaving this; larger is longer) */
.n1 { font-size: 93%; }
.n2 { font-size: 86%; }
.n3 { font-size: 79%; }
.n4 { font-size: 72%; }
.n5 { font-size: 65%; }
.n6 { font-size: 57%; }
.n7 { font-size: 50%; }
.n8 { font-size: 43%; }

@media screen and (min-width: 641px) {
  .c7, .c8 { line-height: 85%;}
}

@media screen and (max-width: 640px) {
  td {
    padding: 0 2.5pt;
  }
  h1 {
    font-size: 1rem;
  }
  .c0 { font-size: 56%; }
  .c1 { font-size: 40%; }
  .c2 { font-size: 32%; }
  .c3 { font-size: 25%; }
  .c4 { font-size: 22%; }
}

@media screen and (max-width: 480px) {
  #stc {
    columns: 2;
  }
}

/* light color scheme (day mode) */
@media screen {
  body {
    color: #131313;
    background: #fafafa;
  }
  #st {
    background: #dadaff;
  }
  .lit {
    color: #565656;
    background: #e8e8e8;
  }
  .scr {
    color: #767676;
  }
  a:link {
    color: #2b2b8a;
  }
  a:visited {
    color: #6e236e;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #c9c9c9;
    background: #252525;
  }
  #st {
    background: #31314f;
  }
  .lit {
    color: #a0a0a0;
    background: #373737
  }
  .scr {
    color: #8c8c8c;
  }
  a:link {
    color: #7777ff;
  }
  a:visited {
    color: #f78ef7;
  }
}
