html {
  font: 12pt system-ui, "Open Sans", Roboto, "Fira Sans", Ubuntu, "Helvetica Neue", Cantarell, "Segoe UI", sans-serif;
  -webkit-text-size-adjust: none;
}
body {
  display: flex;
  max-width: 60em;
  margin: auto;
}
nav {
  font-size: 80%;
  flex-basis: 18em;
}
#st, .cred {
  margin: 0.5em;
  padding: 0.5em;
}
section {
  padding: 6pt 0;
}
main {
  flex-grow: 1;
}
#sth {
  font-weight: bold;
}
.tog {
  margin: 6pt;
}
.seg {
  margin-bottom: 16pt;
  display: none;
}
.seg.facade {
  display: block;
}
.snh {
  display: flex;
  align-items: center;
  padding: 0 9pt 0 3pt;
}
h1 {
  font-size: 125%;
  flex-grow: 1;
  margin: 8pt;
}
.scr {
  font-size: 0.667em;
}
table {
  border-spacing: 3pt;
  width: 100%;
}
td {
  padding: 0 6pt;
}
.chr {
  font-size: 2em;
  text-align: center;
  min-width: 2em;
  overflow: hidden;
}
.esc {
  font-size: 1rem;
}
.chr.Mn, .chr.Mc {
  max-width: 2rem;
}
.lit {
  font-family: "Operator Mono", Inconsolata, "Fira Mono", Menlo, "Source Code Pro", Consolas, "Lucida Console", Monaco, monospace;
}
.cp {
  max-width: 7.5em;
  text-align: center;
}
.nm {
  width: 75%;
}
.sc {
  float: right;
  font-size: 0.75rem;
}
.c1 { font-size: 75%; }
.c2 { font-size: 60%; }
.c3 { font-size: 48%; }
.c4 { font-size: 44%; }
.n1 { font-size: 93%; }
.n2 { font-size: 86%; }
.n3 { font-size: 79%; }
.n4 { font-size: 72%; }
.n5 { font-size: 65%; }
.n6 { font-size: 57%; }
.n7 { font-size: 50%; }
.n8 { font-size: 43%; }

@media screen and (min-width: 641px) {
  .c7, .c8 { line-height: 85%;}
}

@media screen and (max-width: 640px) {
  body {
    max-width: 100%;
    display: block;
  }
  nav {
    max-width: 100%;
  }
  #st {
    margin: 0;
    padding: 1em;
  }
  #stc {
    columns: 2;
  }
  .cred {
    display: none;
  }
  td {
    padding: 0 3pt;
  }
  h1 {
    font-size: 1rem;
  }
  .sc {
    font-size: 8pt;
  }
  .nm {
    max-width: 10em;
  }
  .c0 { font-size: 56%; }
  .c1 { font-size: 40%; }
  .c2 { font-size: 32%; }
  .c3 { font-size: 25%; }
  .c4 { font-size: 22%; }
}

@media screen {
  body {
    color: #131313;
    background: #fafafa;
  }
  #st {
    background: #dadaff;
  }
  .lit {
    color: #565656;
    background: #e8e8e8;
  }
  .scr {
    color: #838383;
  }
  a:link {
    color: #2b2b8a;
  }
  a:visited {
    color: #6e236e;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #c9c9c9;
    background: #252525;
  }
  #st {
    background: #31314f;
  }
  .lit {
    color: #8a8a8a;
    background: #383838;
  }
  a:link {
    color: #7777ff;
  }
  a:visited {
    color: #f78ef7;
  }
}
